<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Share-a-String!</title>
  </head>
  <body class="well" style="border:0px;">
    	<h3 style="text-align: center;">{{ text }}</h3>
    	<br>
    	<form action='decision' method='post'>
    	    <p class="text-center">
        	<input type="submit" name="submit"  class="btn btn-default" value="Wipe this string from existence." style="margin:1em">
        	<input type="submit" name="submit"  class="btn btn-default" value="Leave it for posterity!" style="margin:1em;">
        	</p>
    	</form>
  </body>
 </html>