<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Share-a-String!</title>
  </head>
  <body class="well" style="border:0px;">
        <h3 style="text-align: center;">Give a string, take a string</h3>
        <br>
    	<form action="submit" method="post">
    	    <p class="text-center">
    		<input type="text" name="text_input" class="form-control input-lg" maxlength="120"><br>
    		<input type="submit" name="submit" class="btn btn-default" value="Exchange!">
    		</p>
    	</form>
    	<br>
  </body>
 </html>